@media only screen and (min-width:1001px) {
  .close{
      display: none;
    }

    .owerflow{
        display: none;
    }

}


@media only screen and (max-width:1000px) {
    .close{
        position: absolute;
        background-color: #ffffff;
        width: 368px;
        height: 796px;
        left: 0;
        top: 0;
        padding: 26px;
        z-index: 2;
        &_tel{
            font-family: Montserrat;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
            display: flex;


            &::before{
                content: "";
                display: block;
                width: 28px;
                height: 28px;
                background-image: url(./../image/tel.svg);
                background-repeat: no-repeat;
                background-size:cover;
                margin-right: 12px;
            }
        }

        &_x{
            position: absolute;
            right: 26px;
            top: 26px;
            cursor: pointer;
        }

        &_ru{
            display: flex;
            margin-left: 130px;
            margin-top: 39px;
            margin-bottom: 50px;
        }

        &_rusia{
            order: -1;
            cursor: pointer;
            position: absolute;
            margin-left: -120px;
            margin-top: -15px;
        }

        .close_list{
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 30px;
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 15px;
            letter-spacing: 0em;
            text-align: left;
        }
        
        &_img{
            margin-top: 60px;
            margin-bottom: 118px;
        }
        
        
        &_fb{
            margin-right: 30px;
        }
        
    }
}

.active{
    color: green;
}

.opacity{
    background-color:rgba(66, 66, 66,0.55 );
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    z-index: 1;
}

.opacity_now{
   display: none;
}

.close_now{
   display: none;
}

@media only screen and (max-width:320px) {
   .close{
       width: 286px;
       height: 680px;

       &_tel{
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
             &::before{
              width: 15px;
              height: 15px;
              margin-right: 7px;
            }  
        }
        &_x{
            width: 20px;
            height: 20px;
            margin-right: 40px;
        }

        &_item{
            font-family: Montserrat;
            font-size: 19px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            gap: 27px;
        }
       
    } 
}