.nashi{
    background-color: #ECF9EB;
    margin-top: 175px;
    margin-bottom: 175px;

    &_h2{
        font-family: Montserrat;
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0px;
        text-align: center;
        margin-bottom: 70px;
        margin-top: 70px;
        color: $green;
    }

    &_list{
        list-style-type: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $white;
        box-shadow: -1px 1px 2px rgba(67, 70, 74, 0.0001), -2px 2px 5px rgba(67, 86, 100, 0.123689);
        border-radius: 4px;
        height: 212px;
        width: 1200px;
        margin-bottom: 76px;
    }
    
    &_item{
        padding:0 55px;
    }

    &_h4{
        font-family: Montserrat;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: 0px;
        text-align: center;
        color: $green;
        margin: 0;
    }

    &_p{
        font-family: Montserrat;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: center;
        color: $black;
        margin-top: 15px;
    }
}

@media only screen and (max-width:1000px) {
    .nashi{
        background-color: #ECF9EB;
        margin-top: 140px;
        margin-bottom: 140px;
        
        &_h2{
            font-family: Montserrat;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: 40px;
            letter-spacing: 0px;
            text-align: center;
            margin-bottom: 50px;
            margin-top: 46px;
            color: $green;
        }
    
        &_list{
            margin: 0 auto;
            list-style-type: none;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $white;
            box-shadow: -1px 1px 2px rgba(67, 70, 74, 0.0001), -2px 2px 5px rgba(67, 86, 100, 0.123689);
            border-radius: 4px;
            height: 167px;
            width: 854px;
            margin-bottom: 65px;
        }
        
        &_item{
            padding:0 40px;
        }
    
        &_h4{
            font-family: Montserrat;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 45px;
            letter-spacing: 0px;
            text-align: center;
            color: $green;
            margin: 0;
        }
    
        &_p{
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0px;
            text-align: center;            
            color: $black;
            margin-top: 15px;
        }
    }
}

@media only screen and (max-width:768px) {
    .nashi{
        background-color: #ECF9EB;
        margin-top: 100px;
        margin-bottom: 100px;
        
        &_h2{
            font-family: Montserrat;
            font-size: 25px;
            font-style: normal;
            font-weight: 600;
            line-height: 40px;
            letter-spacing: 0px;
            text-align: center;
            margin-bottom: 50px;
            margin-top: 50px;
            color: $green;
        }
    
        &_list{
            margin: 0 auto;
            list-style-type: none;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $white;
            box-shadow: -1px 1px 2px rgba(67, 70, 74, 0.0001), -2px 2px 5px rgba(67, 86, 100, 0.123689);
            border-radius: 4px;
            height: 98px;
            width: 641px;
            margin-bottom: 56px;
        }
        
        &_item{
            padding:0 25px;
        }
    
        &_h4{
            font-family: Montserrat;
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: 45px;
            letter-spacing: 0px;
            text-align: center;
            color: $green;
            margin: 0;
            margin-top: 9px;
        }
    
        &_p{
            font-family: Montserrat;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0px;
            text-align: center;                      
            color: $black;
            margin-top: 5px;
            margin-bottom: 20px;
            width: 106px;
        }
    }
}

@media only screen and (max-width:480px) {
    .nashi{
        background-color: #ECF9EB;
        margin-top: 80px;
        margin-bottom: 80px;
        
        &_h2{
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 40px;
            letter-spacing: 0px;
            text-align: center;            
            margin-bottom: 40px;
            margin-top: 35px;
            color: $green;
        }
    
        &_list{
            margin: 0 60px;
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            background-color: $white;
            box-shadow: -1px 1px 2px rgba(67, 70, 74, 0.0001), -2px 2px 5px rgba(67, 86, 100, 0.123689);
            border-radius: 4px;
            height: 238px;
            width: 360px;
            margin-bottom: 44px;
            padding:11px 30px;
        }
        
        &_h4{
            font-family: Montserrat;
            font-size: 31px;
            font-style: normal;
            font-weight: 700;
            line-height: 45px;
            letter-spacing: 0px;
            text-align: center;
            color: $green;
            margin: 0;
        }
    
        &_p{
            font-family: Montserrat;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0px;
            text-align: center;
            text-align: center;              
            color: $black;
            margin-top: 9px;
            height: 34px;
        }
    }
}


@media only screen and (max-width:320px) {
    .nashi{
        background-color: #ECF9EB;
        margin-top: 80px;
        margin-bottom: 80px;
        
        &_h2{
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 40px;
            letter-spacing: 0px;
            text-align: center;            
            margin-bottom: 17px;
            margin-top: 30px;
            color: $green;
        }
    
        &_list{
            margin: 0 auto;
            list-style-type: none;
            padding: 0;
            background-color: $white;
            box-shadow: -1px 1px 2px rgba(67, 70, 74, 0.0001), -2px 2px 5px rgba(67, 86, 100, 0.123689);
            border-radius: 4px;
            height: 363px;
            width: 300px;
            margin-bottom: 24px;
            margin-right: 10px;
            gap: 24px;
        }
        
        &_item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 5px
        }
    
        &_h4{
            font-family: Montserrat;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 45px;
            letter-spacing: 0px;
            text-align: center;            
            color: $green;
            margin-right: 25px;
        }
    
        &_p{
            font-family: Montserrat;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0px;
            text-align: left;                     
            color: $black;
        }
    }
}